[user]
    name = Ryan Kaskel
    email = dev@ryankaskel.com

[alias]
    st = status
    sts = status -s
    stb = status -s -b
    cam = commit -am
    fp = fetch -p
    br = branch
    co = checkout
    df = diff
    rb = rebase
    rbi = rebase -i
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
    last = cat-file commit HEAD
    gui = gitk --all

[color]
    ui = true
    status = auto
    branch = auto
    interactive = auto
    pager = true

[color "branch"]
    current = yellow bold
    local = yellow
    remote = green
    upstream = cyan

[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold

[color "status"]
    added = yellow
    changed = green
    untracked = cyan

[core]
    pager = less -FRSX
    whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
    excludesfile = ~/.gitignore

[push]
    default = simple
