<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.ryankaskel.keyboardlayout.colemak</string>
	<key>CFBundleName</key>
	<string>GB-PL-Colemak</string>
	<key>CFBundleVersion</key>
	<string>2</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>KLInfo_GB PL Colemak</key>
	<dict>
		<key>TISInputSourceID</key>
		<string>com.ryankaskel.keyboardlayout.colemak.gbpl</string>
		<key>TISIntendedLanguage</key>
		<string>en</string>
		<key>TISIconIsTemplate</key>
		<true/>
	</dict>
</dict>
</plist>
