"*":
  welcome:
    showOnStartup: false
  core:
    disabledPackages: [
      "metrics"
      "exception-reporting"
    ]
  editor:
    invisibles: {}
    fontSize: 12
  "atom-beautify":
    analytics: false
