config-notification {
    disable-failed
}
gestures {
    hot-corners {
        off
    }
}
input {
    keyboard {
        xkb {
            layout "gb_custom"
            variant "colemak_pl"
        }
        numlock
    }
    touchpad {
        natural-scroll
    }
    mouse {

    }
    trackpoint {

    }
}
layout {
    background-color "transparent"
    center-focused-column "never"
    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }
    default-column-width {
        proportion 0.5
    }
    border {
        off
        width 4
        active-color "#707070"
 inactive-color "#d0d0d0"
 urgent-color "#cc4444"
 }
    shadow {
        softness 30
        spread 5
        offset x=0 y=5
        color "#0007"
    }
    struts {

    }
}
layer-rule {
    match namespace="^quickshell$"
    place-within-backdrop true
}
overview {
    workspace-shadow {
        off
    }
}
spawn-at-startup "bash" "-c" "wl-paste --watch cliphist store &"
environment {
    XDG_CURRENT_DESKTOP "niri"
}
hotkey-overlay {
    skip-at-startup
}
prefer-no-csd
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"
animations {
    workspace-switch {
        spring damping-ratio=0.8 stiffness=523 epsilon=0.0001
    }
    window-open {
        duration-ms 150
        curve "ease-out-expo"
    }
    window-close {
        duration-ms 150
        curve "ease-out-quad"
    }
    horizontal-view-movement {
        spring damping-ratio=0.85 stiffness=423 epsilon=0.0001
    }
    window-movement {
        spring damping-ratio=0.75 stiffness=323 epsilon=0.0001
    }
    window-resize {
        spring damping-ratio=0.85 stiffness=423 epsilon=0.0001
    }
    config-notification-open-close {
        spring damping-ratio=0.65 stiffness=923 epsilon=0.001
    }
    screenshot-ui-open {
        duration-ms 200
        curve "ease-out-quad"
    }
    overview-open-close {
        spring damping-ratio=0.85 stiffness=800 epsilon=0.0001
    }
}
window-rule {
    match app-id="^org\\.wezfurlong\\.wezterm$"
    default-column-width {

    }
}
window-rule {
    match app-id="^org\\.gnome\\."
    draw-border-with-background false
    geometry-corner-radius 12
    clip-to-geometry true
}
window-rule {
    match app-id="^gnome-control-center$"
    match app-id="^pavucontrol$"
    match app-id="^nm-connection-editor$"
    default-column-width {
        proportion 0.5
    }
    open-floating false
}
window-rule {
    match app-id="^gnome-calculator$"
    match app-id="^galculator$"
    match app-id="^blueman-manager$"
    match app-id="^org\\.gnome\\.Nautilus$"
    match app-id="^steam$"
    match app-id="^xdg-desktop-portal$"
    open-floating true
}
window-rule {
    match app-id="^org\\.wezfurlong\\.wezterm$"
    match app-id="Alacritty"
    match app-id="zen"
    match app-id="com.mitchellh.ghostty"
    match app-id="kitty"
    draw-border-with-background false
}
window-rule {
    match app-id="firefox$" title="^Picture-in-Picture$"
    match app-id="zoom"
    open-floating true
}
// Open dms windows as floating by default
window-rule {
    match app-id="org.quickshell$"
    open-floating true
}
debug {
    honor-xdg-activation-with-invalid-serial
}
recent-windows {
    binds {
        Mod+Tab {
            next-window scope="output"
        }
        Mod+Shift+Tab {
            previous-window scope="output"
        }
        Mod+grave {
            next-window filter="app-id"
        }
        Mod+Shift+grave {
            previous-window filter="app-id"
        }
    }
}
switch-events {
    lid-close { spawn "dms" "ipc" "call" "lock" "lock"; }
}
// Include dms files
include "dms/colors.kdl"
include "dms/layout.kdl"
include "dms/alttab.kdl"
include "dms/binds.kdl"
include "dms/cursor.kdl"
include "dms/windowrules.kdl"
include "dms/outputs.kdl"
