[Unit]
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
ExecStart=/usr/bin/swaybg -m fill -i "%h/Pictures/wallpaper/paintings/Haystacks end of Summer Claude Monet 1891.jpg"
Restart=on-failure
