{:applications {:emacs ["^org\\.gnu\\.Emacs$"]
                :kitty ["^net\\.kovidgoyal\\.kitty$"]
                :C-m-apps ["^com\\.google\\.Chrome$"
                           "^com\\.tinyspeck\\.slackmacgap$"
                           "^com\\.microsoft\\.VSCode$"]}
 :main [{:des "swap caps lock to left control"
         :rules [[:##caps_lock :left_control]
                 [:##left_control :caps_lock]]}
        {:des "C-m to return in more places"
         :rules [[:!Tm :return_or_enter [:C-m-apps]]]}
        {:des "emacs right command to right control"
         :rules [:emacs
                 ;; C-x
                 [:!Qx [:!Wx ["emacs-C-x" 1]]]
                 [:!Qa :!Wa :emacs-C-c]
                 [:!Qb :!Wb :emacs-C-x]
                 [:!Qd :!Wd :emacs-C-x]
                 [:!Qg :!Wg :emacs-C-x]
                 [:!Qe :!We :emacs-C-x]
                 [:!Qf :!Wf :emacs-C-x]
                 [:!Qq :!Wq :emacs-C-x]
                 [:!Qw :!Ww :emacs-C-x]
                 [:!Qv :!Wv :emacs-C-x]
                 ;; C-c
                 [:!Qc [:!Wc ["emacs-C-c" 1]]]
                 [:!Qa :!Wa :emacs-C-c]
                 [:!Qb :!Wb :emacs-C-c]
                 [:!Qe :!We :emacs-C-c]
                 [:!Qj :!Wj :emacs-C-c]
                 [:!Qs :!Ws :emacs-C-c]
                 [:!Qf :!Wf :emacs-C-c]
                 ;; Exit layers
                 [:##right_command
                  :right_command
                  nil
                  {:afterup [["emacs-C-x" 0] ["emacs-C-c" 0]]}]]}
         {:des "launch mode"
          :rules [[{:sim [:comma :period]
                    :simo {:interrupt true
                           :dorder :insensitive
                           :uorder :insensitive
                           :afterup {:set ["launch-mode" 0]}}}
                    ["launch-mode" 1]]
                  [:condi :launch-mode]
                  [:a "open -b com.apple.ActivityMonitor"]
                  [:c "open -b com.google.Chrome"]
                  [:d "open -b com.tinyspeck.slackmacgap"]
                  [:e "open -b org.gnu.Emacs"]
                  [:f "open -b net.kovidgoyal.kitty"]
                  [:m "open -b com.spotify.client"]
                  [:v "open -b com.apple.finder"]
                  [:w "open -b com.apple.iCal"]]}]}
