{:applications {:emacs ["^org\\.gnu\\.Emacs$"]}
 :main [{:des "swap caps lock to left control"
         :rules [[:##caps_lock :left_control]
                 [:##left_control :caps_lock]]}
        {:des "double tap right shift to escape"
         :rules [[:##right_shift :escape :right-shift-pressed]
                 [:##right_shift
                  [["right-shift-pressed" 1] :right_shift]
                  nil
                  {:delayed {:invoked ["right-shift-pressed" 0]
                             :canceled ["right-shift-pressed" 0]}}]]}
        {:des "emacs right command to right control"
         :rules [:emacs
                 ;; C-x
                 [:!Qx [:!Wx ["emacs-C-x" 1]]]
                 [:!Qa :!Wa :emacs-C-c]
                 [:!Qb :!Wb :emacs-C-x]
                 [:!Qg :!Wg :emacs-C-x]
                 [:!Qe :!We :emacs-C-x]
                 [:!Qf :!Wf :emacs-C-x]
                 [:!Qq :!Wq :emacs-C-x]
                 [:!Qw :!Ww :emacs-C-x]
                 [:!Qv :!Wv :emacs-C-x]
                 ;; C-c
                 [:!Qc [:!Wc ["emacs-C-c" 1]]]
                 [:!Qa :!Wa :emacs-C-c]
                 [:!Qb :!Wb :emacs-C-c]
                 [:!Qe :!We :emacs-C-c]
                 [:!Qj :!Wj :emacs-C-c]
                 [:!Qs :!Ws :emacs-C-c]
                 [:!Qf :!Wf :emacs-C-c]
                 ;; Exit layers
                 [:##right_command
                  :right_command
                  nil
                  {:afterup [["emacs-C-x" 0] ["emacs-C-c" 0]]}]]}]}
