{:applications {:emacs ["^org\\.gnu\\.Emacs$"]
                :kitty ["^net\\.kovidgoyal\\.kitty$"]
                :C-m-apps ["^com\\.google\\.Chrome$"
                           "^com\\.microsoft\\.VSCode$"]
                :emacs-emulation-apps ["^com\\.tinyspeck\\.slackmacgap$"
                                       "^notion\\.id"$]}
 :main [{:des "swap caps lock to left control"
         :rules [[:##caps_lock :left_control]
                 [:##left_control :caps_lock]]}
        {:des "C-m to return in more places"
         :rules [[:!Tm :return_or_enter [:C-m-apps]]]}
        {:des "' to right control when held"
         :rules [[:#COQEquote
                  :right_control
                  nil
                  {:alone :quote
                   :afterup [["right-control-prefix-map" 0]]
                   :params {:alone 300}}]
                 ; Activate a prefix map so the below exclusions don't take effect
                 [:!Wx [:!Wx ["right-control-prefix-map" 1]]]
                 [:!Wc [:!Wc ["right-control-prefix-map" 1]]]
                 [:!Wh [:!Wh ["right-control-prefix-map" 1]]]
                 [:!Wo [:!Wo ["right-control-prefix-map" 1]]]
                 ; Exclude letters that commonly appear with apostrophes if a prefix
                 ; map isn't activated
                 [:!Wd [:quote :d] :!right-control-prefix-map]    ; she's
                 [:!Wf [:quote :f] :!right-control-prefix-map]    ; hasn't
                 [:!Wg [:quote :g] :!right-control-prefix-map]    ; he'd
                 [:!Wm [:quote :m] :!right-control-prefix-map]    ; I'm
                 [:!Ws [:quote :s] :!right-control-prefix-map]    ; you're
                 [:!Wu [:quote :u] :!right-control-prefix-map]    ; we'll
                 [:!Wv [:quote :v] :!right-control-prefix-map]]}  ; they've
        {:des "Emacs emulation apps"
         :rules [:emacs-emulation-apps
                 [:!Tm :return_or_enter]
                 [:!Tr :up_arrow]
                 [:!Tj :down_arrow]
                 [:!Tt :escape]]}
         {:des "launch mode"
          :rules [[{:sim [:comma :period]
                    :simo {:interrupt true
                           :dorder :insensitive
                           :uorder :insensitive
                           :afterup {:set ["launch-mode" 0]}}}
                    ["launch-mode" 1]]
                  [:condi :launch-mode]
                  [:a "open -b com.apple.ActivityMonitor"]
                  [:c "open -b com.google.Chrome"]
                  [:d "open -b com.tinyspeck.slackmacgap"]
                  [:e "open -b org.gnu.Emacs"]
                  [:f "open -b net.kovidgoyal.kitty"]
                  [:m "open -b com.spotify.client"]
                  [:v "open -b com.apple.finder"]
                  [:w "open -b com.apple.iCal"]]}]}
