*~
*.elc
/ac-comphist.dat
/abbrev_defs
/amx-items
/autosave
/backups
/cloud
/custom.el
/eln-cache
/elpaca/*
/eshell
/games
/gptel-crowdsourced-prompts.csv
/history
/ido.hist
/.lsp-session*
/lockfiles
/multisession
/network-security.data
/smex.hist
/recentf
/savehist
/semanticdb
/projects
/projectile.cache
/projectile-bookmarks.eld
/spell-fu
/straight/*
!/straight/versions/
/tramp
/transient
/tree-sitter
bookmarks
elpa
session*
url
*.desktop
