*~
*.elc
/ac-comphist.dat
/abbrev_defs
/amx-items
/elisp/custom.el
/eln-cache
/eshell
/games
/history
/ido.hist
/.lsp-session*
/network-security.data
/smex.hist
/recentf
/savehist
/semanticdb
/projects
/projectile.cache
/projectile-bookmarks.eld
/straight/*
!/straight/versions/
/transient
bookmarks
elpa
session*
url
