*~
*.elc
/ac-comphist.dat
/abbrev_defs
/amx-items
/eshell
/history
/ido.hist
/network-security.data
/smex.hist
/recentf
/savehist
/projectile.cache
/projectile-bookmarks.eld
/transient
bookmarks
elpa
session*
url
